html {
  --primary-dark: #111;
  --primary-grey: #666;
  --border-radius: 8px;
  --primary-color: #0A0;
  --accent-color: #AA0;
  --font-size: 24px;
  --button-padding: 8px 16px;
  --circle-fill: radial-gradient(circle at 50%, var(--accent-color) 40%, rgba(0, 0, 0, 1) 40%);
  --character-selector-width: 150px;
}